body {
  margin: 0;
  padding: 49px 91px 26px 91px;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}

.d-none {
  display: none;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.full {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  body {
    padding: 19px 13px;
  }
}
