body {
  margin: 0;
  padding: 49px 91px 26px 91px;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
